<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,361},{93,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,60}}</string>
                <key>sourceSize</key>
                <string>{93,60}</string>
            </dict>
            <key>btn_finish_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,430},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>btn_finish_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,438},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>btn_finish_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,350},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>btn_guide_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,124},{175,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,59}}</string>
                <key>sourceSize</key>
                <string>{175,59}</string>
            </dict>
            <key>btn_guide_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{344,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,85}}</string>
                <key>sourceSize</key>
                <string>{344,85}</string>
            </dict>
            <key>btn_guide_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,63},{175,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,59}}</string>
                <key>sourceSize</key>
                <string>{175,59}</string>
            </dict>
            <key>btn_guide_props.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{344,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,85}}</string>
                <key>sourceSize</key>
                <string>{344,85}</string>
            </dict>
            <key>btn_guide_qiut.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,361},{93,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,60}}</string>
                <key>sourceSize</key>
                <string>{93,60}</string>
            </dict>
            <key>btn_guide_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{344,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,85}}</string>
                <key>sourceSize</key>
                <string>{344,85}</string>
            </dict>
            <key>btn_guide_technic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,85}}</string>
                <key>sourceSize</key>
                <string>{344,85}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,438},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>btn_jodo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,273},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,480},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{175,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,59}}</string>
                <key>sourceSize</key>
                <string>{175,59}</string>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,423},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,273},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>btn_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,185},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>btn_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,185},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{250,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,86}}</string>
                <key>sourceSize</key>
                <string>{250,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttonRes.png</string>
            <key>size</key>
            <string>{548,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f5c84cb7bfa8b6fefe8c0ae27cfe322$</string>
            <key>textureFileName</key>
            <string>buttonRes.png</string>
        </dict>
    </dict>
</plist>
