<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>effer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>effer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>effer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>effer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>effer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>effer_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>effer_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>effer_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>effer_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>effer_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effer.png</string>
            <key>size</key>
            <string>{739,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39226097086d8670e8c726bbdc0ec0be$</string>
            <key>textureFileName</key>
            <string>effer.png</string>
        </dict>
    </dict>
</plist>
