<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,34},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,18},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,18},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,34},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,18},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,34},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,18},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_1_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{52,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,14}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_2_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_3_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{30,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>item_4_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{1428,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8e61b63cefddb06da71be12efef936d$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
