<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>number_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,146},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>number_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,149},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{23,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>number_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>number_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,99},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>number_b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,49},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>number_b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,152},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>number_b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>number_b_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,102},{39,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>number_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>number_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,52},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>number_g_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,229},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_g_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,175},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_g_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{14,4}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{14,4}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_g_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,229},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_g_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,222},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_g_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,219},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_g_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,219},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_g_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,223},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_g_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,229},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_g_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,223},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_g_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,199},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,192},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_r_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,171},{14,4}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{14,4}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,168},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,147},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,144},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,123},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,99},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,199},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,120},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,96},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,177},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>number_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,149},{14,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>number_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,203},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>number_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,203},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>number_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,196},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>number_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,193},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>number_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,177},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>number_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,151},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>number_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,193},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>number_s_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,125},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>number_s_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,99},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>number_w_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,102},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,52},{25,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{25,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,52},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_w_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_w_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_w_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,49},{41,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_w_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_w_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num_2.png</string>
            <key>size</key>
            <string>{262,262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f4f506d62a99823ba7ae1430b27fcce$</string>
            <key>textureFileName</key>
            <string>num_2.png</string>
        </dict>
    </dict>
</plist>
