<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>number_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,202},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,202},{25,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{25,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,202},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,202},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,202},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,202},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,202},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,202},{41,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,202},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,152},{25,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{25,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,152},{41,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,102},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,102},{25,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{25,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,102},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,102},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,102},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,102},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,102},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,102},{41,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,102},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,52},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,52},{25,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{25,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,52},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,52},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,52},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,52},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,52},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,52},{41,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,52},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{25,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{25,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{41,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>number_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num_0.png</string>
            <key>size</key>
            <string>{464,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0d30ebad3fa1a514c5f0c120cf27dc3$</string>
            <key>textureFileName</key>
            <string>num_0.png</string>
        </dict>
    </dict>
</plist>
