<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>text_info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{454,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,147}}</string>
                <key>sourceSize</key>
                <string>{454,147}</string>
            </dict>
            <key>text_info_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,2},{430,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,147}}</string>
                <key>sourceSize</key>
                <string>{430,147}</string>
            </dict>
            <key>text_info_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{431,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,173}}</string>
                <key>sourceSize</key>
                <string>{431,173}</string>
            </dict>
            <key>text_info_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{434,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,167}}</string>
                <key>sourceSize</key>
                <string>{434,167}</string>
            </dict>
            <key>text_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,171},{235,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,31}}</string>
                <key>sourceSize</key>
                <string>{235,31}</string>
            </dict>
            <key>text_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,151},{230,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,39}}</string>
                <key>sourceSize</key>
                <string>{230,39}</string>
            </dict>
            <key>text_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,171},{268,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,31}}</string>
                <key>sourceSize</key>
                <string>{268,31}</string>
            </dict>
            <key>text_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,151},{282,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,40}}</string>
                <key>sourceSize</key>
                <string>{282,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textRes.png</string>
            <key>size</key>
            <string>{1759,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08ac78e3b58da43e0f9716d1fa472b24$</string>
            <key>textureFileName</key>
            <string>textRes.png</string>
        </dict>
    </dict>
</plist>
